{
    "rel_path": "dv/simulation/verif_env/soc/soc_top",
    "tb_name": "soc_top",
    "level": "soc",
    "has_rgm": false,
    "reg_model.name": "",
    "reg_model.driver": "",
    "has_dut": true,
    "dut_top_name": "wujian100_open_top",
    "rtl_filelist": [
        "$PROJ_HOME/design/soc_top/filelist.f"
    ],
    "dut_inst_connect": {},
    "variable_list": {},
    "env_define": [
        ""
    ],
    "subsys": {
        "apb0": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "apb1": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "apb0_wdt": {
            "base_env": "apb0",
            "cpu_bus_protocol": "ahb"
        },
        "apb0_pwm": {
            "base_env": "apb0",
            "cpu_bus_protocol": "ahb"
        },
        "apb0_usi": {
            "base_env": "apb0",
            "cpu_bus_protocol": "ahb"
        },
        "apb1_rtc": {
            "base_env": "apb1",
            "cpu_bus_protocol": "ahb"
        },
        "apb1_gpio": {
            "base_env": "apb1",
            "cpu_bus_protocol": "ahb"
        },
        "apb1_pmu": {
            "base_env": "apb1",
            "cpu_bus_protocol": "ahb"
        },
        "gate_sim": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "sdf_sim": {
            "base_env": "gate_sim",
            "cpu_bus_protocol": "ahb"
        },
        "ahb_hs": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "ahb_ls": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "soc_dma": {
            "base_env": "ahb_hs",
            "cpu_bus_protocol": "ahb"
        },
        "top_sim": {
            "base_env": "soc_top",
            "cpu_bus_protocol": "ahb"
        },
        "addr_map": {
            "base_env": "top_sim",
            "cpu_bus_protocol": "ahb"
        },
        "had": {
            "base_env": "top_sim",
            "cpu_bus_protocol": "ahb"
        }
    },
    "base_env": "soc_top",
    "protocol": "ahb",
    "agents": {},
    "agents_inst": {},
    "clocks": {
        "ehs": [
            "300",
            "0"
        ],
        "els": [
            "200",
            "0"
        ],
        "jtag": [
            "100",
            "0"
        ]
    },
    "resets": {
        "pad": [
            "20000",
            "ehs",
            "pad"
        ]
    },
    "intrs": {},
    "reference_model": {},
    "reference_model_inst": {},
    "sub_envs": {},
    "sub_envs_inst": {}
}